# Pandas:
    - it is defiened as an open source library
    - it provide high-performance data manipulation
    - it is used to data analyze

In [1]:
import pandas as pd

### Three Data structures:
1. Series: 1 Dimentional
    
2. DataFrame: 2 Dimentional

3. Panel: Combination of multiple dataframes

In [2]:
print(pd.Series(dtype=object))

Series([], dtype: object)

#### 1.pd.Series() structure: pd.Series(data,index,dtype)
 - Init signature:
 - pd.Series(
    - data=None,
    - index=None,
    - dtype: 'Dtype | None' = None,
    )

In [3]:
names = ['Avinash','Harshala','Karishma','Kuldip','Nitin','Ramdas','Sachin']

In [4]:
pd.Series(names)

0     Avinash
1    Harshala
2    Karishma
3      Kuldip
4       Nitin
5      Ramdas
6      Sachin
dtype: object

#### 3 things:
    1.index
    2.data/values
    3.data type

In [5]:
d = pd.Series(names)
d

0     Avinash
1    Harshala
2    Karishma
3      Kuldip
4       Nitin
5      Ramdas
6      Sachin
dtype: object

In [6]:
# indexing
d[0]

'Avinash'

In [7]:
# slicing
d[3:]

3    Kuldip
4     Nitin
5    Ramdas
6    Sachin
dtype: object

In [8]:
d[-1] #-ve indexing is not allowed

KeyError: -1

In [9]:
d[::-1] #-ve step is allowed

6      Sachin
5      Ramdas
4       Nitin
3      Kuldip
2    Karishma
1    Harshala
0     Avinash
dtype: object

In [10]:
id(d)

2672746561840

In [11]:
# can modification possible????
d[0] = 'Vaibhav'
d

0     Vaibhav
1    Harshala
2    Karishma
3      Kuldip
4       Nitin
5      Ramdas
6      Sachin
dtype: object

In [12]:
id(d)
# id is not channgin hence its mutable in nature

2672746561840

#### convert all names to upper case

In [13]:
d.str.upper()

0     VAIBHAV
1    HARSHALA
2    KARISHMA
3      KULDIP
4       NITIN
5      RAMDAS
6      SACHIN
dtype: object

#### fetch candidates who name starts with K

In [14]:
d.str.startswith('K')

0    False
1    False
2     True
3     True
4    False
5    False
6    False
dtype: bool

In [15]:
d[d.str.startswith('K')]

2    Karishma
3      Kuldip
dtype: object

In [16]:
n2 = ['Avi$$nash  ','  $*Harshala','Karish**ma  ','Kul*$dip','Ni  tin','Ram####das','Sach   **ine']
n2

['Avi$$nash  ',
 '  $*Harshala',
 'Karish**ma  ',
 'Kul*$dip',
 'Ni  tin',
 'Ram####das',
 'Sach   **ine']

In [17]:
f = pd.Series(n2)
f

0     Avi$$nash
1      $*Harshala
2    Karish**ma
3        Kul*$dip
4         Ni  tin
5      Ram####das
6    Sach   **ine
dtype: object

In [18]:
# remove space at prefix and suffixe side
f = f.str.strip()
f

0       Avi$$nash
1      $*Harshala
2      Karish**ma
3        Kul*$dip
4         Ni  tin
5      Ram####das
6    Sach   **ine
dtype: object

In [19]:
f = f.str.strip('$*')
f

0       Avi$$nash
1        Harshala
2      Karish**ma
3        Kul*$dip
4         Ni  tin
5      Ram####das
6    Sach   **ine
dtype: object

In [20]:
f2 = f.str.replace('$','')
f2

C:\Users\chava\AppData\Local\Temp\ipykernel_5012\4128267306.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  f2 = f.str.replace('$','')

0         Avinash
1        Harshala
2      Karish**ma
3         Kul*dip
4         Ni  tin
5      Ram####das
6    Sach   **ine
dtype: object

In [21]:
f2.str.replace('#','')

0         Avinash
1        Harshala
2      Karish**ma
3         Kul*dip
4         Ni  tin
5          Ramdas
6    Sach   **ine
dtype: object

In [22]:
# use replace of Series
f.replace({'Avi$$nash':'Avinash','Karish**ma':'Karishma'})

0         Avinash
1        Harshala
2        Karishma
3        Kul*$dip
4         Ni  tin
5      Ram####das
6    Sach   **ine
dtype: object

In [23]:
f.str.replace('$','').str.replace('*','').str.replace('#','').str.replace(' ','')

C:\Users\chava\AppData\Local\Temp\ipykernel_5012\3127404282.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  f.str.replace('$','').str.replace('*','').str.replace('#','').str.replace(' ','')

0     Avinash
1    Harshala
2    Karishma
3      Kuldip
4       Nitin
5      Ramdas
6     Sachine
dtype: object

#### fetch candidates who name ends with a

In [24]:
d.str.endswith('a')

0    False
1     True
2     True
3    False
4    False
5    False
6    False
dtype: bool

In [25]:
d[d.str.endswith('a')]

1    Harshala
2    Karishma
dtype: object