In [1]:
import pandas as pd

In [2]:
# Create a series of names
s = pd.Series(['Aniket','Pratik','Pankaj','Geetanjali','Pratiksha','Amol','Sagar'])
s

0        Aniket
1        Pratik
2        Pankaj
3    Geetanjali
4     Pratiksha
5          Amol
6         Sagar
dtype: object

In [3]:
s.head()
# default it fetch 5 records

0        Aniket
1        Pratik
2        Pankaj
3    Geetanjali
4     Pratiksha
dtype: object

In [4]:
# check first 3 record
s.head(3)

0    Aniket
1    Pratik
2    Pankaj
dtype: object

In [5]:
s[:3]

0    Aniket
1    Pratik
2    Pankaj
dtype: object

In [6]:
# fetch last 2 record
s.tail(2)

5     Amol
6    Sagar
dtype: object

In [7]:
# plz sort the names in ascending order
s.sort_values()

5          Amol
0        Aniket
3    Geetanjali
2        Pankaj
1        Pratik
4     Pratiksha
6         Sagar
dtype: object

In [8]:
# in above case index is un ordered
s.sort_values(ignore_index=True)

0          Amol
1        Aniket
2    Geetanjali
3        Pankaj
4        Pratik
5     Pratiksha
6         Sagar
dtype: object

In [9]:
# if we want descending order
s.sort_values(ascending= False)

6         Sagar
4     Pratiksha
1        Pratik
2        Pankaj
3    Geetanjali
0        Aniket
5          Amol
dtype: object

In [10]:
# use sort_index()
srt = s.sort_values(ascending= False)
srt.sort_index()

0        Aniket
1        Pratik
2        Pankaj
3    Geetanjali
4     Pratiksha
5          Amol
6         Sagar
dtype: object

In [11]:
# index in descending order
srt.sort_index(ascending=False)

6         Sagar
5          Amol
4     Pratiksha
3    Geetanjali
2        Pankaj
1        Pratik
0        Aniket
dtype: object

In [12]:
srt

6         Sagar
4     Pratiksha
1        Pratik
2        Pankaj
3    Geetanjali
0        Aniket
5          Amol
dtype: object

In [13]:
srt.index

Int64Index([6, 4, 1, 2, 3, 0, 5], dtype='int64')

In [14]:
srt.index = [101,102,103,104,105,106,107]

In [15]:
srt

101         Sagar
102     Pratiksha
103        Pratik
104        Pankaj
105    Geetanjali
106        Aniket
107          Amol
dtype: object

In [16]:
srt.sort_values() # this is temp

107          Amol
106        Aniket
105    Geetanjali
104        Pankaj
103        Pratik
102     Pratiksha
101         Sagar
dtype: object

In [17]:
srt

101         Sagar
102     Pratiksha
103        Pratik
104        Pankaj
105    Geetanjali
106        Aniket
107          Amol
dtype: object

In [18]:
# permenant changes
srt.sort_values(inplace=True)
srt

107          Amol
106        Aniket
105    Geetanjali
104        Pankaj
103        Pratik
102     Pratiksha
101         Sagar
dtype: object

In [19]:
srt.sort_index() # temporary

101         Sagar
102     Pratiksha
103        Pratik
104        Pankaj
105    Geetanjali
106        Aniket
107          Amol
dtype: object

In [20]:
# permenant changes
srt.sort_index(inplace=True)
srt

101         Sagar
102     Pratiksha
103        Pratik
104        Pankaj
105    Geetanjali
106        Aniket
107          Amol
dtype: object

In [21]:
sd = pd.Series(['10', 23.44, 67.88])
sd

0       10
1    23.44
2    67.88
dtype: object

In [22]:
# check different methods/properties supported by series
srt

101         Sagar
102     Pratiksha
103        Pratik
104        Pankaj
105    Geetanjali
106        Aniket
107          Amol
dtype: object

In [23]:
srt.ndim

1

In [24]:
srt.size

7

In [25]:
srt.index

Int64Index([101, 102, 103, 104, 105, 106, 107], dtype='int64')

In [26]:
srt.values

array(['Sagar', 'Pratiksha', 'Pratik', 'Pankaj', 'Geetanjali', 'Aniket',
       'Amol'], dtype=object)

In [27]:
srt.to_dict()

{101: 'Sagar',
 102: 'Pratiksha',
 103: 'Pratik',
 104: 'Pankaj',
 105: 'Geetanjali',
 106: 'Aniket',
 107: 'Amol'}

In [28]:
print(dir(srt))

['T', '_AXIS_LEN', '_AXIS_ORDERS', '_AXIS_TO_AXIS_NUMBER', '_HANDLED_TYPES', '__abs__', '__add__', '__and__', '__annotations__', '__array__', '__array_priority__', '__array_ufunc__', '__array_wrap__', '__bool__', '__class__', '__contains__', '__copy__', '__deepcopy__', '__delattr__', '__delitem__', '__dict__', '__dir__', '__divmod__', '__doc__', '__eq__', '__finalize__', '__float__', '__floordiv__', '__format__', '__ge__', '__getattr__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__iadd__', '__iand__', '__ifloordiv__', '__imod__', '__imul__', '__init__', '__init_subclass__', '__int__', '__invert__', '__ior__', '__ipow__', '__isub__', '__iter__', '__itruediv__', '__ixor__', '__le__', '__len__', '__long__', '__lt__', '__matmul__', '__mod__', '__module__', '__mul__', '__ne__', '__neg__', '__new__', '__nonzero__', '__or__', '__pos__', '__pow__', '__radd__', '__rand__', '__rdivmod__', '__reduce__', '__reduce_ex__', '__repr__', '__rfloordiv__', '__rmatmul__', '__rmod__', '__rmul__', '__ror__', '__round__', '__rpow__', '__rsub__', '__rtruediv__', '__rxor__', '__setattr__', '__setitem__', '__setstate__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__truediv__', '__weakref__', '__xor__', '_accessors', '_accum_func', '_add_numeric_operations', '_agg_by_level', '_agg_examples_doc', '_agg_see_also_doc', '_align_frame', '_align_series', '_append', '_arith_method', '_as_manager', '_attrs', '_binop', '_can_hold_na', '_check_inplace_and_allows_duplicate_labels', '_check_inplace_setting', '_check_is_chained_assignment_possible', '_check_label_or_level_ambiguity', '_check_setitem_copy', '_clear_item_cache', '_clip_with_one_bound', '_clip_with_scalar', '_cmp_method', '_consolidate', '_consolidate_inplace', '_construct_axes_dict', '_construct_axes_from_arguments', '_construct_result', '_constructor', '_constructor_expanddim', '_convert', '_convert_dtypes', '_data', '_dir_additions', '_dir_deletions', '_drop_axis', '_drop_labels_or_levels', '_duplicated', '_find_valid_index', '_flags', '_from_mgr', '_get_axis', '_get_axis_name', '_get_axis_number', '_get_axis_resolvers', '_get_block_manager_axis', '_get_bool_data', '_get_cacher', '_get_cleaned_column_resolvers', '_get_index_resolvers', '_get_label_or_level_values', '_get_numeric_data', '_get_value', '_get_values', '_get_values_tuple', '_get_with', '_gotitem', '_hidden_attrs', '_indexed_same', '_info_axis', '_info_axis_name', '_info_axis_number', '_init_dict', '_init_mgr', '_inplace_method', '_internal_names', '_internal_names_set', '_is_cached', '_is_copy', '_is_label_or_level_reference', '_is_label_reference', '_is_level_reference', '_is_mixed_type', '_is_view', '_item_cache', '_ixs', '_logical_func', '_logical_method', '_map_values', '_maybe_update_cacher', '_memory_usage', '_metadata', '_mgr', '_min_count_stat_function', '_name', '_needs_reindex_multi', '_protect_consolidate', '_reduce', '_reindex_axes', '_reindex_indexer', '_reindex_multi', '_reindex_with_indexers', '_rename', '_replace_single', '_repr_data_resource_', '_repr_latex_', '_reset_cache', '_reset_cacher', '_set_as_cached', '_set_axis', '_set_axis_name', '_set_axis_nocheck', '_set_is_copy', '_set_labels', '_set_name', '_set_value', '_set_values', '_set_with', '_set_with_engine', '_slice', '_stat_axis', '_stat_axis_name', '_stat_axis_number', '_stat_function', '_stat_function_ddof', '_take_with_is_copy', '_typ', '_update_inplace', '_validate_dtype', '_values', '_where', 'abs', 'add', 'add_prefix', 'add_suffix', 'agg', 'aggregate', 'align', 'all', 'any', 'append', 'apply', 'argmax', 'argmin', 'argsort', 'array', 'asfreq', 'asof', 'astype', 'at', 'at_time', 'attrs', 'autocorr', 'axes', 'backfill', 'between', 'between_time', 'bfill', 'bool', 'clip', 'combine', 'combine_first', 'compare', 'convert_dtypes', 'copy', 'corr', 'count', 'cov', 'cummax', 'cummin', 'cumprod', 'cumsum', 'describe', 'diff', 'div', 'divide', 'divmod', 'dot', 'drop', 'drop_duplicates', 'droplevel', 'dropna', 'dtype', 'dtypes', 'duplicated', 'empty', 'eq', 'equals', 'ewm', 'expanding', 'explode', 'factorize', 'ffill', 'fillna', 'filter', 'first', 'first_valid_index', 'flags', 'floordiv', 'ge', 'get', 'groupby', 'gt', 'hasnans', 'head', 'hist', 'iat', 'idxmax', 'idxmin', 'iloc', 'index', 'infer_objects', 'info', 'interpolate', 'is_monotonic', 'is_monotonic_decreasing', 'is_monotonic_increasing', 'is_unique', 'isin', 'isna', 'isnull', 'item', 'items', 'iteritems', 'keys', 'kurt', 'kurtosis', 'last', 'last_valid_index', 'le', 'loc', 'lt', 'mad', 'map', 'mask', 'max', 'mean', 'median', 'memory_usage', 'min', 'mod', 'mode', 'mul', 'multiply', 'name', 'nbytes', 'ndim', 'ne', 'nlargest', 'notna', 'notnull', 'nsmallest', 'nunique', 'pad', 'pct_change', 'pipe', 'plot', 'pop', 'pow', 'prod', 'product', 'quantile', 'radd', 'rank', 'ravel', 'rdiv', 'rdivmod', 'reindex', 'reindex_like', 'rename', 'rename_axis', 'reorder_levels', 'repeat', 'replace', 'resample', 'reset_index', 'rfloordiv', 'rmod', 'rmul', 'rolling', 'round', 'rpow', 'rsub', 'rtruediv', 'sample', 'searchsorted', 'sem', 'set_axis', 'set_flags', 'shape', 'shift', 'size', 'skew', 'slice_shift', 'sort_index', 'sort_values', 'squeeze', 'std', 'str', 'sub', 'subtract', 'sum', 'swapaxes', 'swaplevel', 'tail', 'take', 'to_clipboard', 'to_csv', 'to_dict', 'to_excel', 'to_frame', 'to_hdf', 'to_json', 'to_latex', 'to_list', 'to_markdown', 'to_numpy', 'to_period', 'to_pickle', 'to_sql', 'to_string', 'to_timestamp', 'to_xarray', 'transform', 'transpose', 'truediv', 'truncate', 'tz_convert', 'tz_localize', 'unique', 'unstack', 'update', 'value_counts', 'values', 'var', 'view', 'where', 'xs']

In [29]:
srt.to_numpy()

array(['Sagar', 'Pratiksha', 'Pratik', 'Pankaj', 'Geetanjali', 'Aniket',
       'Amol'], dtype=object)

In [30]:
srt.ndim

1

In [31]:
# create another series of names
s2 = pd.Series(['Pravin','Akshay','Ayesha'])
s2

0    Pravin
1    Akshay
2    Ayesha
dtype: object

In [32]:
srt

101         Sagar
102     Pratiksha
103        Pratik
104        Pankaj
105    Geetanjali
106        Aniket
107          Amol
dtype: object

In [33]:
# lets combine series using append
srt.append(s2)

C:\Users\chava\AppData\Local\Temp\ipykernel_10792\2732920417.py:2: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  srt.append(s2)

101         Sagar
102     Pratiksha
103        Pratik
104        Pankaj
105    Geetanjali
106        Aniket
107          Amol
0          Pravin
1          Akshay
2          Ayesha
dtype: object

In [34]:
# to make proper indexing use ignore_index
srt.append(s2, ignore_index=True)

C:\Users\chava\AppData\Local\Temp\ipykernel_10792\2532991946.py:2: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  srt.append(s2, ignore_index=True)

0         Sagar
1     Pratiksha
2        Pratik
3        Pankaj
4    Geetanjali
5        Aniket
6          Amol
7        Pravin
8        Akshay
9        Ayesha
dtype: object

In [35]:
srt2 = srt.append(s2)
srt2

C:\Users\chava\AppData\Local\Temp\ipykernel_10792\3138216632.py:1: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  srt2 = srt.append(s2)

101         Sagar
102     Pratiksha
103        Pratik
104        Pankaj
105    Geetanjali
106        Aniket
107          Amol
0          Pravin
1          Akshay
2          Ayesha
dtype: object

In [36]:
srt2.sort_index(ignore_index=True,inplace=True)
srt2

0        Pravin
1        Akshay
2        Ayesha
3         Sagar
4     Pratiksha
5        Pratik
6        Pankaj
7    Geetanjali
8        Aniket
9          Amol
dtype: object

In [37]:
srt3 = srt.append(s2)
srt3

C:\Users\chava\AppData\Local\Temp\ipykernel_10792\614423949.py:1: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  srt3 = srt.append(s2)

101         Sagar
102     Pratiksha
103        Pratik
104        Pankaj
105    Geetanjali
106        Aniket
107          Amol
0          Pravin
1          Akshay
2          Ayesha
dtype: object

In [38]:
srt3.reset_index()

   index           0
0    101       Sagar
1    102   Pratiksha
2    103      Pratik
3    104      Pankaj
4    105  Geetanjali
5    106      Aniket
6    107        Amol
7      0      Pravin
8      1      Akshay
9      2      Ayesha

In [39]:
type(srt3.reset_index())

pandas.core.frame.DataFrame

In [40]:
type(srt3)

pandas.core.series.Series

In [41]:
# i dont want index column--> it gives Series
srt3.reset_index(drop=True)

0         Sagar
1     Pratiksha
2        Pratik
3        Pankaj
4    Geetanjali
5        Aniket
6          Amol
7        Pravin
8        Akshay
9        Ayesha
dtype: object

In [42]:
# permenant changes
srt3.reset_index(drop=True,inplace=True)

In [43]:
srt3

0         Sagar
1     Pratiksha
2        Pratik
3        Pankaj
4    Geetanjali
5        Aniket
6          Amol
7        Pravin
8        Akshay
9        Ayesha
dtype: object

In [44]:
# convert all names needed in upper case
srt3.str.upper()

0         SAGAR
1     PRATIKSHA
2        PRATIK
3        PANKAJ
4    GEETANJALI
5        ANIKET
6          AMOL
7        PRAVIN
8        AKSHAY
9        AYESHA
dtype: object

In [45]:
# findout people name ending with n
srt3.str.endswith('n')

0    False
1    False
2    False
3    False
4    False
5    False
6    False
7     True
8    False
9    False
dtype: bool

In [46]:
srt3[srt3.str.endswith('n')]

7    Pravin
dtype: object

In [47]:
srt3

0         Sagar
1     Pratiksha
2        Pratik
3        Pankaj
4    Geetanjali
5        Aniket
6          Amol
7        Pravin
8        Akshay
9        Ayesha
dtype: object

In [48]:
# access alternate name
srt3[::2]

0         Sagar
2        Pratik
4    Geetanjali
6          Amol
8        Akshay
dtype: object

In [49]:
# add some constant str at the end
add_str = 'Patil'
print(srt3 + ' ' + add_str)

0         Sagar Patil
1     Pratiksha Patil
2        Pratik Patil
3        Pankaj Patil
4    Geetanjali Patil
5        Aniket Patil
6          Amol Patil
7        Pravin Patil
8        Akshay Patil
9        Ayesha Patil
dtype: object

In [50]:
#fetch name with length of name > 6
for name in srt3:
    if len(name) > 6:
        print(name)

Pratiksha
Geetanjali

In [51]:
srt3[::-1]

9        Ayesha
8        Akshay
7        Pravin
6          Amol
5        Aniket
4    Geetanjali
3        Pankaj
2        Pratik
1     Pratiksha
0         Sagar
dtype: object